@import url('https://fonts.googleapis.com/css?family=Lobster');

/*For Logo Text "font-family: 'Lobster', cursive;"*/
/*For Body Text "font-family: 'Raleway', sans-serif;"*/
/*For Header/Menu Bar "font-family: 'Play', sans-serif;"*/

/*Color Scheme*/
/*text color:#2A2B2A*/
/*Menu Bar Color:#FD8A5E*/
/*Menu Hover Color:#F59CA9*/
/*Body Color:#00BFAF*/
/*Image BG Color:#01DDDD*/

* {margin:0px;
padding:0px;
font-size:100%;
}

h1 {font-size:175%;}

h2 {font-size: 150%;
    font-family: 'Lobster', cursive;}

hr {border: 1px solid #2A2B2A;
    color:#F59CA9;}
    
.home-text {margin-left: 15px;
margin-right:15px;
margin-bottom: 15px;
    text-align:justify;
}

.navbar {position:fixed;
overflow: hidden;
background-color: #FD8A5E;
top:0;
width:100%;
font-weight: bold;
font-size: 125%;}

ul {list-style-type: none;
    margin: 0;
    padding: 0;
    height:50px;
    font-family: 'Play', sans-serif;
}

li {float: left;}

li a {display: block;
    color: #2A2B2A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li a:hover {background-color: #F59CA9;}

body {background-color: #00BFAF;}

.body-font {font-family: 'Raleway', sans-serif;}

.begining {margin-top: 100px;}

.top-line {padding-top: 95px;
    margin-top: -95px;
    margin-bottom: 40px;}

.bottom-line {margin-bottom: 40px;
    padding-top: 95px;
    margin-top: -95px;
}

.home-row {display: flex;
    margin-bottom: 15px;
}

.image-rows {flex-wrap:wrap;
    justify-content:space-around;
}

.sub-home {font-size: 1.5rem;}

.sub {background-color:rgba(253,138,94,.7);
    width:100%;
    padding:2px;
    margin-top:2%;}

.photo-card {height:300px;
    padding:10px;
    display: flex;
    align-items:stretch;
}
a:link {width: 100%;
    color:#2A2B2A;
}
.quarter {width:20%;}

.third2 {width:30%;}

.third {width: 33%;}

.card-content {width:100%;
    background-size: cover;
    background-position: center top;
    background-color: rgba(253,138,94,.7);
    padding:5px;
    display: flex;
    align-items:flex-end;
    }

.card-content:hover .sub {
    background-color:#F59CA9 ;}
    
.disney-home {background-image: url(../images/disney/castle.jpg);}

.gatorland-home {background-image: url(../images/gatorland/gatorland-ent.jpg);}

.universal-home {background-image: url(../images/universal/gate-entrance.jpg);}

.disney-1 {background-image: url(../images/disney/disney-entrance.jpg);}

.disney-2 {background-image: url(../images/disney/garden.jpg);}

.disney-3 {background-image: url(../images/disney/belle.jpg);}

.disney-4 {background-image: url(../images/disney/sorcerors-hat.jpg);}

.disney-5 {background-image: url(../images/disney/pirates.jpg);}

.disney-6 {background-image: url(../images/disney/star-wars02.jpg);}

.disney-7 {background-image: url(../images/disney/ak-elephant.jpg);}


.gatorland-1 {background-image: url(../images/gatorland/gl-gators.jpg);}

.gatorland-2 {background-image: url(../images/gatorland/gl-shade.jpg);}

.gatorland-3 {background-image: url(../images/gatorland/gl-woods.jpg);}

.gatorland-4 {background-image: url(../images/gatorland/gl-gatorkiss.jpg);}

.gatorland-5 {background-image: url(../images/gatorland/gl-gator-wrestle.jpg);}

.gatorland-6 {background-image: url(../images/gatorland/gl-albino-gator.jpg);}

.gatorland-7 {background-image: url(../images/gatorland/gl-birds.jpg);}


.universal-1 {background-image: url(../images/universal/universal-entrance.jpg);}

.universal-2 {background-image: url(../images/universal/cat-in-the-hat.jpg);}

.universal-3 {background-image: url(../images/universal/fun-ride.jpg);}

.universal-4 {background-image: url(../images/universal/bettlejuice.jpg);}

.universal-5 {background-image: url(../images/universal/hp-hogsmeade.jpg);}

.universal-6 {background-image: url(../images/universal/hp-hogwarts.jpg);}

.universal-7 {background-image: url(../images/universal/hp-hogwarts-express.jpg);}